:root {
  // colors
  --primary-text-color: #907e82;
  --accent-color: #d41443;
  --white-color: #ffffff;
  --title-text-color: #ffa5ba;
  --black-color: #000000;
  --red-color: #d41342;
  --link-color: #fea5bb;
  --coffee-color: #f0d1a5;
  --green-color: #c2e297;
  --btn-red-color: #c0032f;
  --btn-gray-color: #ecebeb;
  --bcg-hero-color: #ffb8ca;
  --bcg-pink-color: #fff5f6;
  --bgc-gray-color: #e5e5e5;
  // animation-time
  --delay-time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
