<section id="how-made" class="about">
  <div class="container">
    <p class="title__label title__label_about ">Tradition and love</p>
    <h2 class="title title_about ">How it's made?</h2>
    <div class="about__wrapper">

      <picture class="about__image-milk">
        <source srcset="./images/desktop/about/desktop-milk.webp 1x, ./images/desktop/about/desktop-milk@2x.webp 2x"
          media="(min-width:1280px)" type="image/webp" />
        <source srcset="./images/desktop/about/desktop-milk.png 1x, ./images/desktop/about/desktop-milk@2x.png 2x"
          media="(min-width: 1280px)" />
        <source srcset="./images/tablet/about/tablet-milk.webp 1x, ./images/tablet/about/tablet-milk@2x.webp 2x"
          media="(min-width:768px)" type="image/webp" />
        <source srcset="./images/tablet/about/tablet-milk.png 1x, ./images/tablet/about/tablet-milk@2x.png 2x"
          media="(min-width: 768px)" />
        <source srcset="./images/mobile/about/mobile-milk.webp 1x, ./images/mobile/about/mobile-milk@2x.webp 2x"
          media="(min-width:320px)" type="image/webp" />
        <source srcset="./images/mobile/about/mobile-milk.png 1x, ./images/mobile/about/mobile-milk@2x.png 2x"
          media="(min-width:320px)" />
        <img class="about__image" src="./images/desktop/about/desktop-milk.png" alt="gallery" />
      </picture>

      <div class="about__description-wrapper">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <br></br>Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="button button_about" data-modal-open1>
          Read more
          <svg class="button__icon">
            <use href="./images/sprite.svg#vector"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal1>
    <div class="modal-window">
      <button type="button" class="btn-close" data-modal-close1>
        <svg class="btn-close__icon">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <h2 class="modal-about__title title">100% NATURAL</h2>
      <p class="modal-about__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores mollitia recusandae ut perferendis
        dolor eaque, quis nobis illum fugit neque eligendi porro ad. Quo quam dicta consequuntur alias natus.
      </p>
      <p class="modal-about__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, sit eum repellat et adipisci cum ad
        obcaecati labore commodi non aut cumque accusantium consectetur. Hic officia sint nam nulla sed.
      </p>
      <p class="modal-about__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, sit eum repellat et adipisci cum ad
        obcaecati labore commodi non aut cumque accusantium consectetur. Hic officia sint nam nulla sed.
      </p>
    </div>
  </div>

</section>