<section class="clients">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="container">
    <div class="clients__slider">
      <div class="clients__slider-wrapper">
        <div class="clients__slider-list">
          <div class="clients__slider-item">
            <picture>
              <source
                srcset="./images/desktop/clients/client1-x1@1200.webp 1x, ./images/desktop/clients/client1-x2@1200.webp 2x"
                media="(min-width:1200px)" type="image/webp"/>
              <source
                srcset="./images/desktop/clients/client1-x1@1200.jpg 1x, ./images/desktop/clients/client1-x2@1200.jpg 2x"
                media="(min-width:1200px)"/>
              <source
                srcset="./images/tablet/clients/client1-x1@768.webp 1x, ./images/tablet/clients/client1-x2@768.webp 2x"
                media="(min-width:768px)"/>
              <source
                srcset=" ./images/tablet/clients/client1-x1@768.jpg 1x, ./images/tablet/clients/client1-x2@768.jpg 2x"
                media="(min-width:768px)"/>
              <source
                srcset="./images/mobile/clients/client1-x1@480.webp 1x, ./images/mobile/clients/client1-x2@480.webp 2x"
                media="(min-width:320px)" type="image/webp"/>
              <source
                srcset="./images/mobile/clients/client1-x1@480.jpg 1x, ./images/mobile/clients/client1-x2@480.jpg 2x"
                media="(min-width:320px)"/>
              <img
                class="clients__img"
                src="./images/desktop/clients/client1-x1@1200.jpg"
                alt="Emily"/>
            </picture>
            <div class="clients__wrapper-text">
              <p class="clients__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <p class="clients__name">Emily, Los Angeles</p>
          </div>

          <div class="clients__slider-item">
            <picture>
              <source
                srcset="./images/desktop/clients/client2-x1@1200.webp 1x, ./images/desktop/clients/client2-x2@1200.webp 2x"
                media="(min-width:1200px)" type="image/webp"/>
              <source
                srcset="./images/desktop/clients/client2-x1@1200.jpg 1x, ./images/desktop/clients/client2-x2@1200.jpg 2x"
                media="(min-width:1200px)"/>
              <source
                srcset="./images/tablet/clients/client2-x1@768.webp 1x, ./images/tablet/clients/client2-x2@768.webp 2x"
                media="(min-width:768px)"/>
              <source
                srcset="./images/tablet/clients/client2-x1@768.jpg 1x, ./images/tablet/clients/client2-x2@768.jpg 2x"
                media="(min-width:768px)"/>
              <source
                srcset="./images/mobile/clients/client2-x1@480.webp 1x, ./images/mobile/clients/client2-x2@480.webp 2x"
                media="(min-width:320px)" type="image/webp"/>
              <source
                srcset="./images/mobile/clients/client2-x1@480.jpg 1x, ./images/mobile/clients/client2-x2@480.jpg 2x"
                media="(min-width:320px)"/>
              <img class="clients__img"
                   src="./images/desktop/clients/client2-x1@1200.jpg"
                   alt="Monica"/>
            </picture>
            <div class="clients__wrapper-text">
              <p class="clients__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <p class="clients__name">Monica, New York</p>
          </div>

          <div class="clients__slider-item">
            <picture>
              <source
                srcset="./images/desktop/clients/client3-x1@1200.webp 1x, ./images/desktop/clients/client3-x2@1200.webp 2x"
                media="(min-width:1200px)" type="image/webp"/>
              <source
                srcset="./images/desktop/clients/client3-x1@1200.jpg 1x, ./images/desktop/clients/client3-x2@1200.jpg 2x"
                media="(min-width:1200px)"/>
              <source
                srcset="./images/tablet/clients/client3-x1@768.webp 1x, ./images/tablet/clients/client3-x2@768.webp 2x"
                media="(min-width:768px)"/>
              <source
                srcset="./images/tablet/clients/client3-x1@768.jpg 1x, ./images/tablet/clients/client3-x2@768.jpg 2x"
                media="(min-width:768px)"/>
              <source
                srcset="./images/mobile/clients/client3-x1@480.webp 1x, ./images/mobile/clients/client3-x2@480.webp 2x"
                media="(min-width:320px)" type="image/webp"/>
              <source
                srcset="./images/mobile/clients/client3-x1@480.jpg 1x, ./images/mobile/clients/client3-x2@480.jpg 2x"
                media="(min-width:320px)"/>
              <img class="clients__img"
                   src="./images/desktop/clients/client3-x1@1200.jpg"
                   alt="July"/>
            </picture>
            <div class="clients__wrapper-text">
              <p class="clients__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <p class="clients__name">July, Chicago</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <ul class="clients__slider-indicators">
      <li class="slider__control slider__control_prev" data-slide="prev"></li>
      <li class="slider__control slider__control_next" data-slide="next"></li>
    </ul> -->
  </div>
</section>
