<section id="gallery" class="gallery">
  <h2 class="visually-hidden">GALLERY OF OUR WORKS</h2>
  <div class="container__gallery container">
    <div class="gallery__wrapper">

      <div class="gallery__column gallery__column-1">
        <div class="gallery__item gallery__item-1">

          <picture>
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-1.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-1@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-1.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-1@2x.jpg 2x
                    " media="(min-width: 1280px)" />


            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-1.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-1@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-1.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-1@2x.jpg  2x
                    " media="(min-width: 768px)" />


            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-1.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-1@2x.webp  2x
                    " media="(min-width: 320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-1.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-1@2x.jpg  2x
                    " media="(min-width: 320px)" />
            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-1.jpg" alt="gallery" />
          </picture>

        </div>
      </div>

      <div class="gallery__column gallery__column-2">
        <div class="gallery__item gallery__item-2-1">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-2.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-2@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-2.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-2@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-2.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-2@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-2.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-2@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-2.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-2@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-2.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-2@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-2.jpg" alt="gallery" />

          </picture>


        </div>
        <div class="gallery__item gallery__item-2-2">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-3.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-3@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-3.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-3@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-3.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-3@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-3.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-3@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-3.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-3@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-3.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-3@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-3.jpg" alt="gallery-3" />

          </picture>
        </div>
      </div>

      <div class="gallery__column gallery__column-3">
        <div class="gallery__item gallery__item-accent">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-4.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-4@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-4.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-4@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-4.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-4@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-4.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-4@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-4.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-4@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-4.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-4@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-4.jpg" alt="gallery" />

          </picture>
        </div>
        <div class="gallery__item gallery__item-accent-down">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-5.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-5@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-5.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-5@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-5.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-5@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-5.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-5@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-5.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-5@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-5.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-5@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-5.jpg" alt="gallery" />

          </picture>
        </div>
      </div>

      <div class="gallery__column gallery__column-4">
        <div class="gallery__item">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-6.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-6@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-6.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-6@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-6.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-6@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-6.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-6@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-6.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-6@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-6.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-6@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-6.jpg" alt="gallery-6" />

          </picture>
        </div>
        <div class="gallery__item">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-7.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-7@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-7.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-7@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-7.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-7@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-7.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-7@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-7.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-7@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-7.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-7@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-7.jpg" alt="gallery-7" />

          </picture>
        </div>
      </div>

      <div class="gallery__column gallery__column-5">
        <div class="gallery__item">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-8.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-8@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-8.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-8@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-8.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-8@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-8.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-8@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-8.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-8@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-8.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-8@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-8.jpg" alt="gallery-8" />

          </picture>
        </div>
        <div class="gallery__item">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-9.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-9@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-9.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-9@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-9.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-9@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-9.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-9@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-9.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-9@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-9.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-9@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-9.jpg" alt="gallery-9" />

          </picture>
        </div>
      </div>

      <div class="gallery__column gallery__column-6">
        <div class="gallery__item">
          <picture>

            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-10.webp    1x,
                    ./images/desktop/gallery/gallery-desktop-10@2x.webp  2x
                    " media="(min-width:1280px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/gallery/gallery-desktop-10.jpg    1x,
                    ./images/desktop/gallery/gallery-desktop-10@2x.jpg 2x
                    " media="(min-width: 1280px)" />

            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-10.webp    1x,
                    ./images/tablet/gallery/gallery-tablet-10@2x.webp  2x
                    " media="(min-width:768px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/gallery/gallery-tablet-10.jpg    1x,
                    ./images/tablet/gallery/gallery-tablet-10@2x.jpg  2x
                    " media="(min-width: 768px)" />

            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-10.webp    1x,
                    ./images/mobile/gallery/gallery-mobile-10@2x.webp  2x
                    " media="(min-width:320px)" type="image/webp" />
            <source srcset="
                    ./images/mobile/gallery/gallery-mobile-10.jpg    1x,
                    ./images/mobile/gallery/gallery-mobile-10@2x.jpg  2x
                    " media="(min-width:320px)" />

            <img class="gallery__img" src="./images/mobile/gallery/gallery-mobile-10.jpg" alt="gallery-10" />

          </picture>
        </div>
      </div>

    </div>
  </div>
</section>