<section class="hero" id="home">
    <div class="container container_hero">
        <div class="hero__tablet">
            <div class="hero__wrapper">
                <h1 class="title title_hero"><span class="title_hero-light">ice cream<br>made with<br></span>passion</h1>
                <ul class="list list_hero">
                    <li class="list_hero-item">
                        <a href="#product" class="button button_color button_hero link">Products</a>
                    </li>
                    <li class="list_hero-item">
                        <a href="#how-made" class="button button_hero link">How it’s made?</a>
                    </li>
                </ul>
            </div>
            <ul class="hero__content-list list">
                <li class="hero__content-item title">
                    16 <br><span class="hero__content-text">cafes</span>
                </li>
                <li class="hero__content-item title">
                    23 <br><span class="hero__content-text">food trucks</span>
                </li>
            </ul>
        </div>
        <div class="hero__about">
            <p class="hero__about-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            <a href="#about-us" class="hero__about-link">
                <svg>
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>                
            </a>
        </div>    
        <picture>
            <source srcset="./images/desktop/hero/desktop-hero-1.webp 1x, ./images/desktop/hero/desktop-hero-1@2x.webp 2x"
                media="(min-width:1280px)" type="image/webp">
            <source srcset="./images/desktop/hero/desktop-hero-1.png 1x, ./images/desktop/hero/desktop-hero-1@2x.png 2x"
                media="(min-width:1280px)">
            <source srcset="./images/tablet/hero/tablet-hero-1.webp 1x, ./images/tablet/hero/tablet-hero-1@2x.webp 2x"
                media="(min-width:768px)" type="image/webp">
            <source srcset="./images/tablet/hero/tablet-hero-1.png 1x, ./images/tablet/hero/tablet-hero-1@2x.png 2x"
                media="(min-width:768px)">
            <source srcset="./images/mobile/hero/mobile-hero-1.webp 1x, ./images/mobile/hero/mobile-hero-1@2x.webp 2x"
                media="(min-width:320px)" type="image/webp">
            <source srcset="./images/mobile/hero/mobile-hero-1.png 1x, ./images/mobile/hero/mobile-hero-1@2x.png 2x"
                media="(min-width:320px)">
            <img class="hero__img-ice-cream" src="./images/mobile/hero/mobile-hero-1.png" alt="ice cream">
        </picture>

        <picture>
            <source srcset="./images/desktop/hero/desktop-hero-2.webp 1x, ./images/desktop/hero/desktop-hero-2@2x.webp 2x"
                media="(min-width:1280px)" type="image/webp">
            <source srcset="./images/desktop/hero/desktop-hero-2.png 1x, ./images/desktop/hero/desktop-hero-2@2x.png 2x"
                media="(min-width:1280px)">
            <source srcset="./images/tablet/hero/tablet-hero-2.webp 1x, ./images/tablet/hero/tablet-hero-2@2x.webp 2x"
                media="(min-width:768px)" type="image/webp">
            <source srcset="./images/tablet/hero/tablet-hero-2.png 1x, ./images/tablet/hero/tablet-hero-2@2x.png 2x"
                media="(min-width:768px)">            
            <img class="hero__img-milk" src="./images/tablet/hero/tablet-hero-2.png" alt="jug of milk">
        </picture>

        <picture>
            <source srcset="./images/desktop/hero/desktop-hero-3.webp 1x, ./images/desktop/hero/desktop-hero-3@2x.webp 2x"
                media="(min-width:1280px)" type="image/webp">
            <source srcset="./images/desktop/hero/desktop-hero-3.png 1x, ./images/desktop/hero/desktop-hero-3@2x.png 2x"
                media="(min-width:1280px)">
            <source srcset="./images/tablet/hero/tablet-hero-3.webp 1x, ./images/tablet/hero/tablet-hero-3@2x.webp 2x"
                media="(min-width:768px)" type="image/webp">
            <source srcset="./images/tablet/hero/tablet-hero-3.png 1x, ./images/tablet/hero/tablet-hero-3@2x.png 2x"
                media="(min-width:768px)">
            <img class="hero__img-tasty" src="./images/tablet/hero/tablet-hero-3.png" alt="the girls say - soooo tasty">
        </picture>
        <div class="hero__circle"></div>
    </div>
</section>